#topBar {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 40px;
    padding: 0;
}

#logo {
    margin: 0 55px;
}

#line {
    width: 100%;
    height: 0.5px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.308);
    transform: translateX(30px);
    margin: 0 0 0 -25px;
    z-index: 4;
}

#topNav {
    height: 94px;
    display: flex;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px); 
}

#topNavList {
    padding: 0 60px;
}

#topNavList {
    display: flex;
    width: 100%;
    list-style-type: none;
}

.topNavListItem {
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    place-items: center;
    margin: 0 20px;
    font-family: var(--barlow);
    letter-spacing: 2.7px;
    color: white;
}

.topNavListItem:hover {
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.topNavListItem.active {
    border-bottom: solid 2px white;
}

.topNavListItem span {
    font-weight: 600;
}

/*----------------------- Tablet ----------------*/

@media (max-width: 1000px) {
    #topBar{
        display: flex;
        width: auto;
        margin: 0;
        align-items: center;
    }

    #topNav {
        padding: 0;
        max-width: 100%;
    }

    ul {
        display: flex;
        padding: 0 10px 0 10px;
        box-sizing: border-box;
    }
  
    #line {
        visibility: hidden;
    }

    .topNavListItem {
        grid-template-columns: auto;
    }

    a {
        font-size: 14px;
    }

    .topNavListItem span {
        display: none;
    }
}

/*----------------------- Mobile ----------------*/

@media (max-width: 700px) {
    #line {
        display: none;
    }

    #topNav {
        width: 75%;
        height: 100vh;
        position: fixed;
        padding: 0;
        margin: 0;
        right: 0;
        left: 100%;
        bottom: 0;
        z-index: 2;
        transition: transform 0.5s ease;
    }

    #topNavList {
        padding: 0;
    }

    #topBar {
        padding: 5% 0;
        justify-content: space-between;
    }

    #logo {
        margin: 0 7%;
    }
    
    #mobileMenuButtonInput {
        width: 1px;
        height: 1px;
        z-index: 3;
        margin: 3% 15% 10% 0;
    }

    #mobileMenuButtonInput::after {
        visibility: visible;
        background-image: url('../assets/hamb.png');
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 35px;
        height: 25px;
    }  

    #mobileMenuButtonInput:checked::after {
        background-image: url('../assets/x.png');
    }     
    
    #mobileMenuButtonInput:checked + #topNav {
        transform: translateX(-100%);
    }
    
    ul {
        flex-direction: column;
        padding: 0;
        margin: 50% 0 0 15%;
    }

    .topNavListItem {
        display: flex;
        margin: 10% 0;
    }

    .topNavListItem a {
        font-size: 21px;
    }

    .topNavListItem.active {
        border: inherit;
    }

    .topNavListItem span {
        font-size: 21px;
        display: block;
        margin-right: 10px;
    }
}