body {
    background-image: url('../../assets/destination/background-destination-desktop.jpg');
    background-size: cover;
}

#firstPanel {
    height: auto;
    flex-basis: 50%;
    display: grid;
    place-items: center;
}

#firstPanel img {
    margin: 0;
    width: 70%;
}

#secondPanel {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    width: auto;
    align-self: flex-start;
}

#planetsNav {
    margin: 0 0 5vh 0;
}

.planetListItem {
    padding: 15px 0;
    margin: 0 20px;
    color:rgba(255,255,255, 0.55);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.7px;
    cursor: pointer;
}

.planetListItem:hover {
    border-bottom: solid 1px rgba(255, 255, 255, 0.5)
}

.planetListItem:first-of-type {
    margin-left: 0;
}

.planetListItem.active {
    border-bottom: solid 2px white;
    cursor: default;
    color: white;
}

#planetsList {
    font-family: var(--barlow);
    display: flex;
    width: 100%;
    padding: 0;
    list-style-type: none;
}

#planetNameHeader {
    font-family: var(--bellefair);
    font-size: 100px;
    font-weight: 400;
}

#description {
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(208, 214, 249, 1);
}

hr {
    background-color: rgba(255,255,255, 0.25);
    margin: 7vh 0 3vh;
    height: 1px;
    border: none;
}

#infoTable {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#infoTable div {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.tableTitle {
    font-family: var(--barlow);
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2.3px;
    text-align: left;
    padding-bottom: 10px;
}

.tableData {
    font-family: var(--bellefair);
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}

/* ----------- tablet ------------*/

@media (max-width: 1024px) {
    body {
        background-image: url('../../assets/destination/background-destination-tablet.jpg');
        background-attachment: fixed;
    }

    #main > div {
        flex-direction: column;
        justify-content: space-between;
        max-width: 100vw;
    }


    #firstPanel {
        display: grid;
        grid-template-rows: auto auto;
    }
    
    #firstPanel h2 {
        margin: 0 0 0 20px;
        font-size: 20px;
    }
    
    #firstPanel h2 span{
        padding: 0 20px;
    }
    
    #firstPanel img {
        width: 50%;
        margin: 1% auto 10%;
    }
    
    #secondPanel {
        display: grid;
        place-items: center;
    }
    
    #planetsNav {
        margin: 0 0 20px 0;
    }

    .planetListItem:first-of-type {
        padding: 15px 0;
        margin: 0 20px;
    }
    
    #description {
        text-align: center;
    }
    
    hr {
        width: 100%;
        margin: 5% 0;
    }

    #infoTable {
        margin-bottom: 100px;
    }
    
    .tableData, .tableTitle {
        text-align: center;
    }
}

/* ----------- mobile ------------*/

@media (max-width: 700px) {
    #planetsList {
        flex-direction: row;
        margin: 0;
    }

    #planetsList li a {
        font-size: 9px;
    }

    #secondPanel {
        margin: 0;
        padding: 0;
    }

    #secondPanel h1 {
        font-size: 66px;
    }

    #secondPanel p {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.5);
        padding: 0 10px;
    }

    hr {
        width: 90%;
    }
    
    #infoTable {
        grid-template-columns: 0;
        grid-template-rows: auto auto;
        width: 100%;
    }

    #infoTable div:first-of-type {
        margin: 30px 0;
    }

    #infoTable span {
        display: block;
        width: 100vw;
        text-align: center;
    }

    .tableTitle {
        padding: 0;
        font-size: 14px;
    }
}
