body {
    background-image: url('../../assets/crew/background-crew-desktop.jpg');
    background-size: cover ;
    background-attachment: fixed;
}

main {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    height: calc(100vh - 134px);
}

#firstPanel {
    padding: 100px 0 100px 150px;
}

#pageTitle {
    font-family: var(--barlow);
    margin-bottom: 15vh;
    font-weight: 400;   
    font-size: 28px;
    letter-spacing: 4.7px;
}

#pageTitle span{
    padding-right: 20px;
    color: rgba(255,255,255, 0.25);
}

#aboutCrew {
    display: flex;
    flex-direction: column;
}

#aboutCrew h2 {
    font-family:  var(--bellefair);
    font-size: 32px;
    font-weight: 400;
    color: rgba(255,255,255, 0.65);
    margin: 0 0 10px 0;
}

#firstPanel + h2 {
    font-family: var(--barlow);
    margin-bottom: 7vh;
    font-size: 28px;
    font-weight: bold;   
}

#firstPanel h2 span{
    padding-right: 20px;
    color: rgba(255,255,255, 0.25);       
    font-weight: 600;
}

#aboutCrew h1 {
    font-family: var(--bellefair);
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 15px 0;
    width: calc(100% + 240px);
    z-index: 3;
}

#aboutCrew p {
    font-family: var(--barlow);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(255,255,255, 0.65);

}

#switch {
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-top: 15vh;
}

.button {
    width: 13px;
    height: 13px;
    background:rgba(255,255,255, 0.25);
    cursor: pointer;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background:rgba(255,255,255, 0.75);
}

.button.active {
    background:rgba(255,255,255, 1);
    cursor: default;
}

#secondPanel {
    display: grid;
    place-items: center;
}

img:not(#logo) {
    width: calc(100vw / 100vh);
    margin: 0 70px;
    place-self: end center;
}

@media (max-width:900px) {
    body {
        background-image: url('../../assets/crew/background-crew-tablet.jpg');
        background-size: cover;
        background-attachment: fixed;
        height: auto;
    }
    
    main {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        height: auto;
        padding: 0;
    }

    #firstPanel {
        display: grid;
        grid-template-rows: auto auto;
        padding: 0 50px;
        margin: 50px 0 0 0px;
    }
    
    #pageTitle {
        margin: 20px 0 60px 0;
        font-size: 20px;
    }
    
    #firstPanel h2 span{
        font-weight: 700;
    }

    #aboutCrew {
        text-align: center;

    }
    
    #aboutCrew h1 {
        text-align: center;
        width: 100%;
        line-break: none;
        font-size: 40px;
    }

    #aboutCrew h2 {
        font-size: 24px;
        font-family: var(--bellefair);
        font-weight: 400;
    }


    #switch {
        display: flex;
        width: 20%;
        justify-content: space-between;
        margin: 50px 0;
        justify-self: center;
    }

    #secondPanel {
        height: 100%;
    }

    #secondPanel[data-page='engineer'] {
        margin: 0 0 65px 0;
    }

    #secondPanel img {
        width: 50%;
    }

}

