body {
    background-image: url('../../assets/crew/background-crew-desktop.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#main {
    padding-bottom: 0;
    display: flex; 
    flex-direction: column;
}

#firstPanel, #secondPanel {
    flex-basis: 50%;
}

#aboutCrew {
    display: flex;
    flex-direction: column;
}

#aboutCrew h2 {
    font-family:  var(--bellefair);
    font-size: 32px;
    font-weight: 400;
    color: rgba(255,255,255, 0.65);
    margin: 0 0 10px 0;
}

#aboutCrew h1 {
    font-family: var(--bellefair);
    font-size: 56px;
    font-style: normal;
    white-space: nowrap;
    font-weight: 400;
    margin: 0 0 15px 0;
    width: auto;
}

#aboutCrew p {
    font-family: var(--barlow);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(255,255,255, 0.65);

}

#switch {
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-top: 15vh;
}

.button {
    width: 13px;
    height: 13px;
    background:rgba(255,255,255, 0.25);
    cursor: pointer;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background:rgba(255,255,255, 0.75);
}

.button.active {
    background:rgba(255,255,255, 1);
    cursor: default;
}

#secondPanel {
    display: grid;
    place-items: center;
}

img:not(#logo) {
    transform: translateY(-18%);
    margin: 0;
}

/* ----------- tablet ------------*/

@media (max-width: 1024px) {
    body {
        background-image: url('../../assets/crew/background-crew-tablet.jpg');
    }

    #main > div {
        flex-direction: column;
    }

    #firstPanel {
        display: grid;
        grid-template-rows: auto auto;
        padding: 10% 15% 0;

    }

    #aboutCrew {
        text-align: center;

    }
    
    #aboutCrew h1 {
        text-align: center;
        width: 100%;
        line-break: none;
        font-size: 40px;
    }

    #aboutCrew h2 {
        font-size: 24px;
        font-family: var(--bellefair);
        font-weight: 400;
    }

    #switch {
        display: flex;
        width: 20%;
        justify-content: space-between;
        margin: 50px 0;
        justify-self: center;
    }

    img:not(#logo) {
        transform: translateY(0);
    }
}

/* ----------- mobile ------------*/

@media (max-width: 700px) {
    #main > div {
        flex-direction: column-reverse;
    }

    #firstPanel {
        padding: 0;
        margin: 0 50px;
        display: flex;
        flex-direction: column-reverse;
    }

    #aboutCrew h2 {
        font-size: 16px;
    }

    #aboutCrew h1 {
        font-size: 20px;
    }

    #aboutCrew p {
        font-size: 15px;    
    }

    #switch {
        width: 50%;
        align-self: center;
    }

    img:not(#logo) {
        width: 50%;
    }

    #secondPanel::after {
        position: relative;
        content: '';
        width: 80%;
        bottom: 0;
        height: 0.7px;
        background: rgba(255,255,255, 0.25);
    }

    #firstPanel {
        margin-bottom: 100px;
    }
}

